

table.offers {
    background: #fff;
}
table.fixed {
    table-layout: fixed;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, caption, tbody, tr{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
table.offers div.section {
    padding: 0;
}
.offersview div.section {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #ababab;
    font-size: 13px;
}
.offersview div.section h2 {
    color: #000;
    font-size: 20px;
    line-height: 24px;
}

.clr:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

table.offers.redesigned .offer, table.offers.redesigned.userobserved-list .offer {
    border-bottom: 0;
    padding: 6px 0;
    height: auto;
}
td {
    text-align: left;
}

.listHandler table.offers.redesigned .offer.promoted .offer-wrapper, table.offers.redesigned .offer.promoted .offer-wrapper, table.offers.redesigned.userobserved-list .offer.promoted .offer-wrapper {
    background-color: rgba(255,191,61,.06);
    position: relative;
    border: 1px solid #fff;
    padding: 0 10px 0 1px;
}

.listHandler table.offers.redesigned .offer.promoted .offer-wrapper:before, table.offers.redesigned .offer.promoted .offer-wrapper:before, table.offers.redesigned.userobserved-list .offer.promoted .offer-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: #c94d40;
    border-radius: 3px 0 0 3px;
    z-index: 1;
}

table.breakword td, .brkword {
    word-wrap: break-word;
}

th, td {
    text-align: left;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    text-align: left;
    margin: 0 auto;
    width: 890px;
    font-size: 12px;
}

.listHandler table.offers.redesigned .thumb.scale4, table.offers.redesigned .thumb.scale4, table.offers.redesigned.userobserved-list .thumb.scale4 {
    line-height: 128px;
}

.listHandler table.offers .thumb.scale4, table.offers.userobserved-list .thumb.scale4 {
    height: 130px;
    line-height: 130px;
    width: 100%;
}

.thumb.scale4 {
    display: block;
    width: 102px;
    text-align: center;
    background: #f7f7f7;
    overflow: hidden;
}

.vtop {
    vertical-align: top;
}

.button:hover, .tdnone {
    text-decoration: none !important;
}
.rel {
    position: relative;
}

.listHandler table.offers.redesigned .thumb.scale4 img, table.offers.redesigned .thumb.scale4 img, table.offers.redesigned.userobserved-list .thumb.scale4 img {
    max-width: 150px;
    max-height: 130px;
}

.thumb.scale4 img {
    vertical-align: middle;
    float: none;
}


.listHandler table.offers .thumb.scale4, table.offers.userobserved-list .thumb.scale4 {
    height: 130px;
    line-height: 130px;
    width: 100%;
}
.listHandler table.offers.redesigned .offer.promoted .offer-wrapper:hover, table.offers.redesigned .offer.promoted .offer-wrapper:hover, table.offers.redesigned.userobserved-list .offer.promoted .offer-wrapper:hover {
    border: 1px solid #f6e9d4;
}

.tright {
    text-align: right;
}

.listHandler table.offers.redesigned .price, table.offers.redesigned .price, table.offers.redesigned.userobserved-list .price {
    font-size: 23px;
}
table.offers .price {
    font-size: 22px;
    margin-top: 10px;
    text-align: right;
    white-space: nowrap;
}

.x-normal {
    font-size: 13px;
}

.x-normal {
    color: #0098d0;
}
.fright {
    float: right;
}
a, a:visited {
    text-decoration: none;
}
.fixed h2 {
    color: #2B2B2B;
    line-height: 1em;
    font-weight: 400;
    padding: 0;
}

.icon.paid.type2 {
    background-image: url(../images/top.png);
}

.offer .icon.paid.type2 {
    left: -11px;
    bottom: 0;
    top: auto;
}
.icon.paid {
    width: 96px;
    height: 83px;
    background:url(../images/top.png) no-repeat;
}
.zi2 {
    z-index: 2;
}
.abs {
    position: absolute;
}
