
// Variables
@import "variables";


// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: white;
  font-family:  'Poppins', sans-serif !important;
}

#mobileAppsbadge {
  top: 250px;
}

#mobileAppsbadge {
  left: 0;
  z-index: 5;
  margin-top: -85px;
}
.fix {
  position: fixed;
}

#mobileAppsbadge .icon {
  width: 229px;
  height: 171px;
}

.abs {
  position: absolute;
}

.icon {
  text-indent: -1000em;
  overflow: hidden;
  display: inline-block;
}

#mobileAppsbadge #mobileAppsbadgeClose {
  width: 24px;
  height: 24px;
  left: 6px;
  top: 0;
}

.list-unstyled a:hover{
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 10vh auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align:center;
}

label {
  display: flex;
  width: 100%;
  //height: 50px;
  cursor: pointer;
  //border: 3px solid #3E474F;
  user-select: none;
}

label div:first-child {
  width: 100%;
  line-height: 45px;
  margin-left: 10px;
  font-size: 1.2em;
}

.cross{
  margin-right:15px;
  margin-top:3px;
}

.cross:before,.cross:after {
  content: '';
  border-top: 2px solid #3E474F;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -2px;
}

.content {
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}

input:checked ~ .content {
  max-height: 400px;
  transition: max-height, 1s;
}

input:checked ~ label .cross:before {
  transform: rotate(180deg);
}

input:checked ~ label .cross:after {
  transform: rotate(0deg);
}

.questions{
  margin-top:20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}

.questions label{
  border:none;
  box-shadow: none;
  margin:0;
}

input:checked ~ .questions {
  max-height: 400px;
  border-bottom:2px solid #3E474F;
  transition: 1s;
}

/*----------tool-tip------------*/

.tip {
  color: #f03768;
  cursor: help;
  position: relative;
  overflow: visible;
  font-family: monospace;
  font-size: 1.3em;
}

.tip:before,
.tip:after {
  position: absolute;
  opacity: 0;
  z-index: -100;
  transform: translateY(-30%);
  transition: .4s;
}

.tip:before {
  content: '';
  border-style: solid;
  border-width: 0.8em 0.5em 0 0.5em;
  border-color: #3E474F transparent transparent transparent;
  transform: translateY(-200%);
  bottom:90%;
  left:50%;
}

.tip:after {
  content: attr(data-tip);
  background: #3E474F;
  color: white;
  width: 150px;
  padding: 10px;
  font-size: 0.8em;
  bottom: 150%;
  left: -50%;
}

.tip:hover:before,
.tip:hover:after {
  opacity: 1;
  z-index: 100;
  transform: scaleY(1);
}


.breadcrumb {
  border-radius: 27px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.offer-sidebar__box {
  margin-bottom: 10px;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}

.offer-user__location {
  margin: 0 -1px;
  padding: 10px 10px 52px;
  box-sizing: border-box;
  position: relative;
  background: url(https://stiftungbrandenburgertor.de/wp-content/plugins/responsive-maps-plugin/documentation/assets/images/1.png) 50% 0 no-repeat;
  //background: url(https://static-olxeu.akamaized.net/static/olxua/packed/img/2f97010710a6dd4d4b607e490b0f6d2848.png) 50% 0 no-repeat;
}
.offer-user__location-two {
  margin: 0 -1px;
  padding: 10px 10px 17px;
  box-sizing: border-box;
  position: relative;
  background: url(https://securityintelligence.com/wp-content/uploads/2018/05/mobile-financial-transactions-are-faster-but-are-they-any-safer-630x330.jpg) 50% 0 no-repeat;
}

.offer-user__address {
  padding: 10px 15px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  font-size: 0;
}
.offer-user__address [data-icon=location] {
  margin: 2px 7px 0 0;
  color: #fd4235;
  font-size: 24px;
}

[data-icon] {
  background: 0 0!important;
  width: auto!important;
  height: auto!important;
}

[data-icon], [data-icon]:before {
  display: inline-block;
}

[data-icon=location]:before {
  content: "";
}

[data-icon]:before {
  text-decoration: none;
}

[data-icon]:before {
  font-family: iconfont;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
}
.offer-user__address [data-icon=location] {
  margin: 2px 7px 0 0;
  color: #fd4235;
  font-size: 24px;
}
[data-icon] {
  text-indent: 0!important;
}
[data-icon] {
  background: 0 0!important;
  width: auto!important;
  height: auto!important;
}
.address {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
.offer-user__address address p {
  margin-bottom: 2px;
}

.offer-user__address address {
  width: 170px;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  vertical-align: top;
}

.offer-user__address:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 8px 0;
  border-color: #fff transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  content: '';
}


.offer-user__address {
  padding: 10px 15px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  font-size: 0;
}

a, a:visited {
  text-decoration: none;
}

.offer-user__image {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  top: 100%;
  left: 50%;
  background: #efefef;
  text-align: center;
  overflow: hidden;
}

.offer-user__image [data-icon] {
  margin-top: 18px;
  color: #0098d0;
  font-size: 34px;
}

[data-icon] {
  text-indent: 0!important;
}

.fancybox-container--nps-survey #fancybox-close, [data-icon] {
  background: 0 0!important;
  width: auto!important;
  height: auto!important;
}

[data-icon=account]:before {
  content: "";
}

.offer-sidebar__box .user-offers {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid #0198d0;
  font-size: 14px;
  text-align: center;
  padding: 6px 15px;
  text-decoration: none;
  margin: 0;
}

.offer-user__details {
  padding: 50px 16px 15px;
  text-align: center;
}



.btns-info {
  float: left !important;
  margin-right: 10px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 14px !important;
  padding-bottom: 9px !important;
  background-color: #4387f4 !important;
  border-radius: 36px !important;
  border: none !important;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
}

.btns-seccess {
  float: left !important;
  margin-right: 10px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 14px !important;
  padding-bottom: 9px !important;
  background-color: #5cd963 !important;
  border-radius: 36px !important;
  border: none !important;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
}

.btns-worning {
  float: left !important;
  margin-right: 10px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 14px !important;
  padding-bottom: 9px !important;
  background-color: #d6d90b !important;
  border-radius: 36px !important;
  border: none !important;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
}

.btns-error {
  float: left !important;
  margin-right: 10px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 14px !important;
  padding-bottom: 9px !important;
  background-color: #de5749 !important;
  border-radius: 36px !important;
  border: none !important;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
}

$yellow: #d6d90b;
$red: #de5749;
$gre: #5cd963;
$button-bg: $red;
$button-bg-gre: $gre;
$button-bg-yel: $yellow;
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button{
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 54px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);

  &:focus {
    outline: 0;
  }

  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before{
    display: none;
    top: -75%;
    background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -75%;
    background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
  }

  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.bubbly-button-gre{
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg-gre;
  color: $button-text-color;
  border-radius: 54px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);

  &:focus {
    outline: 0;
  }

  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before{
    display: none;
    top: -75%;
    background-image:
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, $button-bg-gre 20%, transparent 30%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg-gre 15%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -75%;
    background-image:
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg-gre 15%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%),
            radial-gradient(circle, $button-bg-gre 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg-gre, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
  }

  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}


.bubbly-button-yellow{
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg-yel;
  color: $button-text-color;
  border-radius: 54px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);

  &:focus {
    outline: 0;
  }

  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before{
    display: none;
    top: -75%;
    background-image:
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, $button-bg-yel 20%, transparent 30%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg-yel 15%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -75%;
    background-image:
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg-yel 15%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%),
            radial-gradient(circle, $button-bg-yel 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg-yel, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.22);
  }

  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.navbar-afisah {
  color: #de5749;
  box-shadow: 0 2px 4px rgb(0, 0, 0.84);
}
.header {
  position: fixed;
  position: relative;
  width: 100%;
  z-index: 50;
  border-radius: 0;
  top: 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;

}

.navbar-inverse .navbar-brand {
  color: #ffffff !important;
}

.navbar-inverse .navbar-toggle {
  border: none !important;
  background-color: #de5749;
}

.navbar-inverse {
  border: none !important;
}

.navbar-inverse .navbar-nav>li>a{
  color: #334141 !important;
  font: 14px/1.55 Open Sans !important;
}
.header .navbar {
  margin: 0;
  background: transparent !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #de5749 !important;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: #de5749;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #de5749;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #334141;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #334141;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #334141;
  background: none;
}
.navbar-toggle {
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu_tpl
 */

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}

.app-content {
  flex: 1;
}
.primary {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #1773bd;
  border-radius: 10px;
}

.info {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0e0e1f;
  border-radius: 10px;
}

.success {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #00b08c;
  border-radius: 10px;
}

.errorss {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #de5749;
  border-radius: 10px;
}
.left {
  float: left;
  margin: 10px;
  margin-bottom: 20px;
}
.pt-2 {
  margin-top: 20px;
}
.m-all {
  position: relative;
  margin: 20px;
}

re.sf-dump, pre.sf-dump .sf-dump-default {
  background-color: #000;
  color: #222;
  line-height: 1.2em;
  font-weight: normal;
  font: 12px Monaco, Consolas, monospace;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  z-index: 100000;
  border-radius: 10px;
}

pre.sf-dump .sf-dump-note {
  color: #1ed950;
}

.table th, .table td {
  padding: 0.55rem 0.75rem;
}

.adverts-list {
  .advert {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.alert {
  width: 23% !important;
  height: 100px !important;
  z-index: 1000 !important;

  right: 20px !important;
  margin-bottom: 20px !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}

.alert-danger {
  color: rgb(243, 255, 255) !important;
  font-weight: 900 !important;
  background-color: #de5749 !important;
  border-color: #ebccd1 !important;
}

.alert-info {
  color: rgb(243, 255, 255) !important;
  font-weight: 900 !important;
  background-color: #209bfc !important;
  border-color: #ebccd1 !important;
}

.alert-success {
  color: rgb(243, 255, 255) !important;
  font-weight: 900 !important;
  background-color: #2dff1a !important;
  border-color: #ebccd1 !important;
}

.alert-warning {
  color: rgb(243, 255, 255) !important;
  font-weight: 900 !important;
  background-color: #ffe333 !important;
  border-color: #ebccd1 !important;
}

body {
  color: #333;
  font-family: "Raleway";
  height: 100%;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #fd4235;
  border-color: #de5749;
  cursor: default;
  border-radius: 20px !important;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: #fd4235 !important;
  color: #fff!important;
  border-color: #fff !important;
  border-radius: 20px !important;
}

.pagination > li > a, .pagination > li > span {
  border: none !important;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  z-index: 2;
  color: #216a94;
  background-color: #eeeeee;
  border-color: #ddd;
  border-radius: 20px !important;
}

.pagination > li > a, .pagination > li > span {
  float: none !important;
}

a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs{
  border: none;
  //border-bottom: 2px solid #079fc9;
  margin: 0;
}
.tab .nav-tabs li a{
  padding: 10px 20px;
  margin: 0 10px -1px 0;
  font-size: 17px;
  font-weight: 600;
  color: #293241;
  text-transform: uppercase;
  border: 2px solid #e6e5e1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
  background: #fff;
  color: #079fc9;
  border: 2px solid #079fc9;
  border-bottom-color: transparent;
}
.tab .nav-tabs li a:before{
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{ transform: scaleX(1); }
.tab .tab-content{
  padding: 10px;
  font-size: 17px;
  color: #6f6f6f;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
}
@media only screen and (max-width: 479px){
  .tab .nav-tabs{ border: none; }
  .tab .nav-tabs li{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tab .nav-tabs li a{
    margin: 0;
    border-bottom: 2px solid transparent;
  }
  .tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #079fc9;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.maincategories .maincategories-list .li {
  width: 33%;
  padding-right: 12px;
  padding-left: 60px;
  position: relative;
}


.maincategories .maincategories-list .li .item {
  display: table;
  width: 100%;
  height: 48px;
}

.gallerywide {
  margin-left: -26px;
  margin-top: 15px;
  margin-bottom: -15px;
}

.normal {
  font-size: 12px;
  line-height: 1px;
}

.gallerywide .gallerywide-item, .gallerywide>li {
  width: 170px;
  height: 184px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px 2px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
}

.maincategories .maincategories-list {
  margin-top: 20px;
}

.maincategories .maincategories-list .li .item a {
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;
}

.headinfobox a, .maincategories .maincategories-list .li .item a>span {
  font-weight: 700;
}

.maincategories .maincategories-list .li .item .cat-icon-circle {
  font-size: 28px;
  text-align: center;
  line-height: 48px;
  font-weight: 400!important;
}

.maincategories .maincategories-list .li .item .cat-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.maincategories .maincategories-list .li .item .cat-icon-circle:before {
  /* line-height: inherit; */
}


.rel {
  position: relative;
}

.fleft {
  float: left;
}

.tleft {
  text-align: left;
}

.tcenter {
  text-align: center;
}
.thumb.scale1 {
  display: block;
  height: 132px;
  line-height: 132px;
  width: 170px;
  text-align: center;
  background: #f7f7f7;
}

.thumb.scale1 img {
  vertical-align: middle;
  max-width: 170px;
  max-height: 132px;
  float: none;
}

.homepage .thumb .paid {
  display: none;
}

.gallerywide .inner {
  padding: 7px 7px 0;
}
.gallerywide .price {
  padding: 0 7px 7px;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin-right: 30px;
  position: relative;
}

.gallerywide .favtab {
  right: 7px;
  bottom: 8px;
}

.zi3 {
  z-index: 3;
}

.abs {
  position: absolute;
}

img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #de5749;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{
  background:rgba(222, 87, 73, 0.6);
}

.active_chat p{
  color: white;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #de5749 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #de5749 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.cd-dropdown-trigger:hover{
  color: white !important;
}

.uploadButton {
  display: block;
  width: 200px;
  background: #de5749;
  padding: 16px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  border-radius: 34px;
  cursor: pointer;
}
.uploadButton:hover {
  background: #3c3d41;
}

.box-btn {
  background-color: darkgrey;
}

.adverts-box:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  &.box-btn:hover {
      background-color: #fd4235;
  }
}

.box-btn:hover {
  background-color: #fd4235;
}

.adverts-box {
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  &.box-btn {
    background-color: darkgrey;
    &:hover {
      background-color: #fd4235;
    }
  }
}

.block-white {
  background: #fff;
}

.tabsContent {
  border: 1px solid #ccc;
  /* margin-top: -1px; */
  margin-top: -.1rem;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list_item {
  position: relative;
  display: block;
  padding: 15px;
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
  -webkit-transition: background,0.3s;
  -moz-transition: background,0.3s;
  transition: background,0.3s;
  overflow: hidden;
}
.list_item:hover{
  background: #f2f2f2;;
}

.item_image, .oas-nativ-ads .oas-link .oas-nativ-ad .oas-product-picture {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  min-width: 130px;
  min-height: 120px;
  max-height: 100%;
  background: #f2f2f2;
}

.item_imagePic {
  display: block;
  height: 100%;
  min-height: 120px;
  text-align: center;
  line-height: 120px;
}

.item_imagePic {
  display: block;
  height: 100%;
  min-height: 120px;
  text-align: center;
  line-height: 120px;
}

.item_image img, .oas-nativ-ads .oas-link .oas-nativ-ad .oas-product-picture img {
  max-height: 100%;
  margin: 0 auto;
}

:not(.gm-style) img {
  //height: auto;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
}

.item_infos, .oas-nativ-ads .oas-link .oas-nativ-ad .detail {
  position: relative;
  float: left;
  width: 75%;
  padding: 0 0 0 20px;
  padding: 0 0 0 2rem;
}

.item_title, .oas-nativ-ads .oas-link .oas-nativ-ad .detail .oas-product-title {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "OpenSansSemiBold",sans-serif;
}

aside {
  display: block;

}
aside p {
  line-height: 1.5;
}
.item_slogan, .item_nbAds {
  font-size: 14px;
  font-size: 1.4rem;
  color: #1a1a1a;
}

.item_nbAds {
  margin: 5px 0;
  margin: .5rem 0;
  font-family: "OpenSansSemiBold",sans-serif;
}

.item_slogan, .item_nbAds {
  font-size: 14px;
  font-size: 1.4rem;
  color: #1a1a1a;
}

b, strong {
  font-weight: normal;
  font-family: "OpenSansBold",sans-serif;
}

.item_supp, .oas-nativ-ads .oas-link .oas-nativ-ad .date, .oas-nativ-ads .oas-link .oas-nativ-ad .detail .oas-product-text {
  color: #1a1a1a;
}
p, .p-like, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}

.item_image, .oas-nativ-ads .oas-link .oas-nativ-ad .oas-product-picture {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  min-width: 130px;
  min-height: 120px;
  max-height: 100%;
  background: #f2f2f2;
}

.list_item .saveAd {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.list_item .saveAd>div {
  padding: 15px;
  padding: 1.5rem;
}

.saveAd .savedMsg, .saveAd .disabledLink, .saveAd .failedMsg {
  display: none;
}
.red {
  color: #db4437;
}
i.nomargin {
  margin-right: 0;
}
.icon-2x {
  font-size: 20px;
  font-size: 2rem;
}

.mediumgrey {
  color: #ccc;
}
.item_imageNumber {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
}

list .item_price {
  margin-bottom: 0;
}

.item_price {
  margin: 10px 0 0 0;
  margin: 1rem 0 0 0;
  font-size: 20px;
  font-size: 2rem;
  color: #ea1b25;
  font-family: "OpenSansBold",sans-serif;
}

.item_imagePic {
  display: block;
  height: 100%;
  min-height: 120px;
  text-align: center;
  line-height: 120px;
}

.item_image img, .oas-nativ-ads .oas-link .oas-nativ-ad .oas-product-picture img {
  max-height: 100%;
  margin: 0 auto;
}

.list_item .saveAd {
  position: absolute;
  top: 27px;
  right: 23px;
  z-index: 99;
}

._3eDdy {
  position: relative;
  display: block;
  border-bottom: 1px solid #cad1d9;
}
._3eDdy ._2fKRW {
  z-index: 0;
  display: block;
}
._3eDdy *, ._3eDdy ._2fKRW {
  text-decoration: none;
}
._3eDdy ._2fKRW ._2-jsN {
  position: relative;
  background: #fafafa;
  max-height: 20rem;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

._3eDdy *, ._3eDdy ._2fKRW {
  text-decoration: none;
}
._3eDdy ._2fKRW ._2-jsN ._6ntGx {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: .05;
}
._3eDdy ._2fKRW ._2-jsN img {
  max-height: 22rem;
  max-width: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
}
._3eDdy ._2fKRW ._2-jsN ._1sbqp {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #ea1b25;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem 0 .5rem;
  -webkit-border-radius: 0 0 .5rem 0;
  border-radius: 0 0 .5rem 0;
  text-transform: uppercase;
}
._3jAsY {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
._3eDdy ._2fKRW ._2-jsN ._1sbqp>div>div:first-child {
  margin-right: .5rem;
}
._3KcVT span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._3eDdy ._2fKRW ._2-jsN ._1sbqp>div>div:first-child+div {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

._3eDdy ._2fKRW ._2-jsN ._1sbqp>div>div:first-child svg>path {
  fill: #fff;
}
._3eDdy ._2fKRW ._2-jsN ._1sbqp svg {
  height: 1.5rem;
}

._3eDdy ._2fKRW ._2-jsN ._1EqC7 ._3R0AG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 2.4rem;
  font-weight: 700;
  color: #fff;
}

._3eDdy ._2fKRW ._3beID .irAof {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
  min-width: 0;
}
._3eDdy ._2fKRW ._3beID .irAof ._3ZfBw {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: .5rem;
}
._3eDdy ._2fKRW ._3beID .irAof ._1s5WJ {
  margin-top: .5rem;
  color: #1a1a1a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._3eDdy ._2fKRW ._3beID .irAof .CeFtS ._1_bNq {
  font-weight: 700;
  color: #ea1b25;
}

._3eDdy {
  position: relative;
  display: block;
  border-bottom: 1px solid #cad1d9;
}

._3eDdy ._2fKRW ._3beID ._3A9T7 {
  text-align: right;
  min-width: 4rem;
  position: relative;
}

._3eDdy ._3Zm0x {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 1rem;
  z-index: 1;
  cursor: pointer;
}
._3eDdy *, ._3eDdy ._2fKRW {
  text-decoration: none;
}

._3eDdy ._3Zm0x div[data-tip] {
  height: 2rem;
  width: 2rem;
  position: relative;
}
//._3eDdy ._3Zm0x div[data-tip]>span {
//  height: 100%;
//  width: 100%;
//}
//._1vK7W svg {
//  width: 100%;
//  height: 100%;
//}

._3eDdy {
  border: 1px solid #cad1d9;
  margin-bottom: 1rem;
}

._2r1q3 ._1rXe6 {
  border: 1px solid #cad1d9;
}

._1rXe6 {
  border: 1px solid #cad1d9;
}

.icons-1{
  background-image: url('/images/icons/1.png');
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #cd4535;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #cd4535;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #cd4535;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #b02818;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.elem {
  -webkit-animation: 3.2s ease-in-out 3s normal none infinite running trambling-animation;
  -moz-animation: 3.2s ease-in-out 3s normal none infinite running trambling-animation;
  -o-animation: 3.2s ease-in-out 3s normal none infinite running trambling-animation;
  animation: 3.2s ease-in-out 3s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
  }
  20%, 40% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
  }
}

section.sky-form {
  border-top: 1px solid #eee;
  padding: 1em 0;
}

.row1 {
  outline: none;
  padding: 20px;
  overflow: auto;
  height: 155px;
  margin: 0px 0 0px 0px;
}

.sky-form .radio, .sky-form .checkbox {
  outline: none;
  border: none;
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 13px;
  line-height: 27px;
  color: #555555;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 0;
}

.checkbox i {
  border-color: #e5e5e5;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}

.phone-size {
  display: none;
}

.sky-form .radio i, .sky-form .checkbox i {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  background: #fff;
}

.sky-form .checkbox input + i:after {
  color: #e8514a;
}

.sky-form .checkbox input + i:after {
  content: '';
  top: 3px;
  left: 2px;
  width: 10px;
  height: 7px;
  //background-image: url(../images/tick.png);
  text-align: center;
}

@media screen and (max-width: 936px) {
    .maincategories .maincategories-list .li  {
      width: 50%;
    }
}@media screen and (max-width: 779px){
    .navbar-inverse .navbar-toggle {
      display: none;
    }
    .phone-size {
      display: block;
    }
}

@media screen and (max-width: 726px) {
  .file-upload {
    background-color: #ffffff;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .maincategories .maincategories-list .li  {
    width: 100%;
  }

  .file-upload {
    background-color: #ffffff;
    width: 280px;
    font-size: 10px;
    margin: 0 auto;
    padding: 20px;
  }
}


